---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0c71c3;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-lighter: #f8f8f8;
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$brand-background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.35)), url(/images/background-buildazure-logo-blue.png), $brand-color;

div.navbar.navbar-dark.bg-dark, #navbarHeader {
  background-color: #222222 !important;
}

h3 {
  font-size: 1.5rem;
}

.container {
  max-width: 960px;
}
.container-alert {
  margin-top: 2em;
}
.container > h2 {
  text-align: center;
  margin-top: 2em;
}

.container.lowlight {
  background-color: $grey-color-light;
}
.container.highlight {
  background-color: $brand-color;
  color: $background-color;
}

blockquote {
  background: $grey-color-lighter;
  border: solid 0.1em $grey-color-lighter;
  border-left: solid 0.3em $brand-color;
  padding: 0.3em;
  padding-left: 1.5em;
  size: 1.1em;
  font-weight: 500;
}
blockquote strong {
  font-weight: 700;
}
blockquote > p {
  margin: 0;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: #000000;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.box-shadow > img, .box-shadow > a > img { width: 100% }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


.bg-primary h2 a, .bg-primary h2 a:hover {
  color: #fff;
  text-decoration: none;
}
.bg-light h2 a, .bg-light h2 a:hover {
  color: #333;
  text-decoration: none;
}

.experience-logos img {
  width: 95%;
}



.post-list {
  margin-left: 0;
  list-style: none;

  > li {
      margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-content img {
  max-width: 100%;
}


.post table th {
  background: $brand-background;
  color: #fff;
  border: solid 0.1em rgba(0,0,0,0.5);
} 
.post table td {
  border: solid 0.1em rgba(0,0,0,0.5);
}


.recent ul li img {
  width: 275px;
  padding-bottom: 0.3em;
}


#sidebar {
  border-left: solid 0.1em $grey-color-light;
}
#sidebar h4 {
  font-size: 1.3em;
}

/*
#sidebar .recent ul li,
#sidebar .related ul li {
  border: solid 0.1em $grey-color-light;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  box-shadow: 0.3em 0.2em 0.2em $grey-color-light;
}
*/
