<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Chris Pietschmann</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/#awards">Microsoft MVP</a></li>
        <li><a class="text-muted" href="/#books">Books</a></li>
        <li><a class="text-muted" href="/#websites">Websites</a></li>
        <li><a class="text-muted" href="/#experience">Experience</a></li>
        <li><a class="text-muted" href="/talks">Talks</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Publications</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="http://build5nines.com" target="_blank">Build5Nines.com</a></li>
        <li><a class="text-muted" href="https://www.hackster.io/crpietschmann/articles" target="_blank">Hackster.io</a></li>
        <li><a class="text-muted" href="/blog">Pietschsoft.com</a></li>
      </ul>
      <h5>Social Media</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
        <li><a class="text-muted" href="{{ site.linkedin_url }}" target="_blank">LinkedIn</a></li>
        <li><a class="text-muted" href="http://youtube.com/{{ site.youtube_channel }}" target="_blank">YouTube</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <!--<img src="/images/buildazure-logo.png" alt="Build5Nines.com" style="height: 1.5em;"/>-->
      <small class="d-block mb-3 text-muted">
        Copyright © 2003 - 2022 {{ site.author }}. All rights reserved.<br/><br/>
        No content may be republished without prior consent.
      </small>
      <small class="d-block mb-3 text-muted">
        <strong>Legal Disclaimer</strong>
        <p>This site is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. We also participates in affiliate programs with Udemy, and other sites. This site is compensated for referring traffic and business to these companies.</p>
      </small>
    </div>
    <div class="col-12 col-md">
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<script src="/scripts/prism/prism.js"></script>
<link rel="stylesheet" href="/scripts/prism/prism.css" />
