<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="/images/buildazure-logo.png" alt="BuildAzure.com" style="height: 1.5em;"/>
      <small class="d-block mb-3 text-muted">Copyright © 2019 {{ site.author }}. All rights reserved.</small>
    </div>
    <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
      <h5>Other Websites</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="http://buildazure.com" target="_blank">BuildAzure.com</a></li>
        <li><a class="text-muted" href="http://buildhololens.com" target="_blank">BuildHololens.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Social Media</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ site.linkedin_url }}" target="_blank">LinkedIn Profile</a></li>
        <li><a class="text-muted" href="http://youtube.com/{{ site.youtube_channel }}" target="_blank">YouTube Channel</a></li>
      </ul>
      <h5>Twitter</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="http://twitter.com/{{ site.twitter_username }}" target="_blank">@{{ site.twitter_username }}</a></li>
        <li><a class="text-muted" href="http://twitter.com/{{ site.twitter_username_2 }}" target="_blank">@{{ site.twitter_username_2 }}</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/#awards">Microsoft MVP</a></li>
        <li><a class="text-muted" href="/#experience">Work Experience</a></li>
        <li><a class="text-muted" href="/#websites">My Websites</a></li>
        <li><a class="text-muted" href="/archive">Blog Post Archive</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<script src="/scripts/prism/prism.js"></script>
<link rel="stylesheet" href="/scripts/prism/prism.css" />

<script src="/scripts/holder.js"></script>
<script>
Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
});
</script>
