<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Bio</h4>
          <p class="text-muted">
            <a href="/">Chris Pietschmann</a> is a Microsoft MVP with Azure and IoT technologies, and a Microsoft Certified Trainer (MCT) with 20+ years of experience designing and developing enterprise solutions. He has been focusing heavily on Microsoft Azure and the Cloud since early 2010, and specializes in Internet of Things (IoT), DevOps, Development and Solution Architecture. He runs the #1 Microsoft Azure blog at <a href="https://Build5Nines.com">Build5Nines.com</a>, and works at <a href="https://solliance.net">Solliance</a> as a Principal Cloud & DevOps Solution Architect.
          </p>

          <h4 class="text-white">About</h4>
          <ul class="list-unstyled">
            <li><a class="text-muted" href="/talks">Talks and Courses</a></li>
            <li><a class="text-muted" href="/#websites">Websites</a></li>
            <li><a class="text-muted" href="/#experience">Experience</a></li>
          </ul>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Publications</h4>
          <ul class="list-unstyled">
            <li><a href="https://build5nines.com" class="text-white">Build5Nines.com</a></li>
            <li><a href="https://www.hackster.io/crpietschmann/articles" class="text-white">Hackster.io</a></li>
            <li><a href="/blog" class="text-white">Pietschsoft.com</a></li>
          </ul>
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/{{ site.twitter_username }}" class="text-white">Twitter</a></li>
            <li><a href="{{ site.linkedin_url }}" class="text-white">LinkedIn</a></li>
            <li><a href="{{ site.contact_url }}" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="/images/buildazure-logo.png" alt="Build5Nines.com Logo" style="height: 1.5em; margin-right: 0.5em;"/>
        <strong>Chris Pietschmann</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>