---
layout: default
---
<div class="container post">
  <div class="row">
    <div class="col-12 col-md-8">
      <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
      </header>
      <article class="post-content">
        {{ content }}
      </article>

      <!-- ADSENSE -->
      <!--
      <div data-type="ad" data-publisher="lqm.pietschsoft.site" data-format="300x250" data-zone="ros" ></div>
      -->
    </div>
    <div id="sidebar" class="col-md-4">
        {% include sidebar.html %}
    </div>
  </div>
</div>