---
layout: default
---
<div class="container post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
    <!--
    <div class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>
    -->

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>

  </header>

  <div class="float-right ml-3 mb-3">
      <script type="text/javascript"><!--
        document.write('<center><div data-type="ad" data-publisher="lqm.pietschsoft.site" data-zone="ron" data-format="300x250"></div></center>');
        // --></script>
  </div>
  <article class="post-content">
    {{ content }}
  </article>

  <div data-type="ad" data-publisher="lqm.pietschsoft.site" data-zone="ron" data-format="728x90"></div>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-553a38bc6ce0a4b7" async="async"></script>


<!--
  <style>
    .disqus_thread:nth-child(1) {
      display: none !important;
    }
  </style>
  <div id="disqus_box">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_url = 'http://pietschsoft.com/post.aspx?id={{ page.blogengineid }}';
        var disqus_developer = '0';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://pietschsoft.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=pietschsoft">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
-->
    

</div>
