---
layout: default
---
<div class="container post">

  <div class="row">
    <div class="col-12 col-md-8">

      <header class="post-header">
          {% if post %}
            {% assign header_image = post.header_image %}
          {% else %}
            {% assign header_image = page.header_image %}
          {% endif %}
          {% if header_image %}
            <img src="{{ header_image }}" alt="" style="width:100%" />
          {% endif %}
          <h1 class="post-title">{{ page.title }}</h1>
          <!--
          <div class="post-categories">
              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
          -->
          <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {% if content contains "<!-- ad -->" %}
        {{ content | split:"<!-- ad -->" | first }}
            {% include embedad.html %}
        {{ content | split:"<!-- ad -->" | last }}
        {% else %}
            {{ content }}
        {% endif %}
      </article>

      {% include embedad.html %}

      {% include related_posts.html %}

      {% if post.ai-generated %}
      <div>
        <emphasis><small>This article was written with the help of AI.</small></emphasis>
      </div>
      {% endif %}

    </div>
    <div id="sidebar" class="col-md-4">
      {% include sidebar.html %}
    </div>
  </div>
</div>
